<!-- Introduction Section -->
<section class="intro-section mdc-elevation--z2">
  <div class="intro-container">
    <div class="image-widget">
      <div class="circular-frame mdc-elevation--z4">
        <div class="image-container">
		  <img class="intro-image" src="assets/headshot.png" alt="Professional Headshot"/>
        </div>
      </div>
      <button class="mdc-fab arrow-button left-arrow">
        <span class="mdc-fab__icon material-icons">arrow_left</span>
      </button>
      <button class="mdc-fab arrow-button right-arrow">
        <span class="mdc-fab__icon material-icons">arrow_right</span>
      </button>
    </div>
	<div class="intro-text mdc-layout-grid__cell--span-6">
		<p>I love imagining new ideas and bringing them to life. I want to make a difference in the world through innovation and invention. I am enjoy thinking through logic-based challenges and coming up with automated solutions. I can learn new skills quickly, am a self-starter, and most importantly I want to learn.</p>
	</div>
  </div>
</section>

	<!-- About Me Section -->
	<section class="about-me-section mdc-elevation--z2">
		<div class="mdc-layout-grid">
			<div class="mdc-layout-grid__inner">
				<div class="about-me-text mdc-layout-grid__cell--span-12">
					<p>As a child I would play with Legos, and take apart electrical things so I could see how they worked. As a young adult, I would keep busy programming video games,making movies, writing books, and much more. I played trombone for three years, and participated in four musicals and two plays. I attended JEMS (Junior Engineering Math and Science) in high school, which is where my real love for Mechanical Engineering began. I bought the student edition of Solid Works and would create 3D models of things around the house.</p>
					<p>I am married to the amazing Devin Mayberry.  We are active members of the Church of Jesus Christ of Latter-day Saints (Mormons). I enjoy scuba diving, hiking, and creating things.</p>
					<p>We have a beautiful baby girl named Lydia. My favorite part of the day is the time I get to spend with her before bedtime.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Hobbies Section -->
	<section class="hobbies-section mdc-elevation--z2">
		<div class="mdc-layout-grid">
			<div class="mdc-layout-grid__inner">
				<!-- Repeat the following structure for each hobby -->
				<div class="mdc-layout-grid__cell--span-4">
					<div class="mdc-card">
						<img src="hobby.jpg" alt="Hobby Image" class="mdc-card__media"/>
						<div class="mdc-card__content">
							<h2 class="mdc-typography--headline6">Hobby Title</h2>
							<p class="mdc-typography--body2">Hobby Description</p>
						</div>
					</div>
				</div>
				<!-- End of a hobby -->
			</div>
		</div>
	</section>
